<h1> EventTypes - Call ResfullAPI form Client via jQuery.Ajax</h1>

<div class="">
    <button type="button" class="btn btn-primary" onclick="addNew();">
        Add
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                TypeName
            </th>
            <th>
                Desription
            </th>
            <th>
                SeverityLevel
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tblBody">
    </tbody>
</table>

<div class="modal" id="addModal" tabindex="-1" aria-labelledby="bankModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmBank", id = "frmBank" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="bankModalLabel">EventTypes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <div class="col-md-4">
                            <label for="1">TypeName</label>
                            <input type="hidden" id="eventTypePhucTMId" name="eventTypePhucTMId" value="0" />
                            <input type="text" id="typeName" name="typeName" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <label for="1">Description</label>
                            <input type="text" id="description" name="description" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <label for="1">Severity Level</label>
                            <input type="text" id="severityLevel" name="severityLevel" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            loadData();
        });

            $("#btSave").click(function () {
            //alert("Save in progress");
            $.ajax({
                type: 'POST',
                url: 'https://localhost:7071/api/EventTypePhucTms',
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: JSON.stringify({
                    typeName: $("#typeName").val(),
                    description: $("#description").val(),
                    severityLevel: $("#severityLevel").val()
                }),
                success: function (result) {
                    //console.log(result);
                    if (result > 0) {
                        $('#addModal').modal('hide');
                        loadData();
                    }
                },
                error: function (xhr, error) {
                    alert(xhr.responseText);
                    console.log(xhr);
                }
            });
        });

            function addNew() {
                //alert("Save function");
                //alert(getToken());
                $("#bankModalLabel").html("Add New");
                $('#addModal').modal('show');
            }

            function loadData() {
            //alert("Load data progressing [APIService must add CORS and set AllowAny*] ...");
                $.ajax({
                url: 'https://localhost:7071/api/EventTypePhucTms',
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    var html = '';
                    $.each(result, function (key, item) {
                        html += '<tr>';
                        // html += '<td><img src="' + item.logoUrl + '" width="130" /></td>';
                        html += '<td>' + item.typeName + '</td>';
                        html += '<td>' + item.description + '</td>';
                        html += '<td>' + item.severityLevel + '</td>';
                        html += '<td> <button type="button" class="btn btn-primary" onclick=viewDetail("' + item.eventTypePhucTMId + '")>Detail</button> </td>';
                        html += '</tr>';
                    });
                    $('.tblBody').html(html);
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            });
            }

    </script>
}